<div class="row">
    <% blogs.forEach(blog => { %>
        <div class="px-1 mt-4 col-md-4">
            <div class="card " style="width: 22rem;">
                <% if(typeof blog.photo != 'undefined' ) { %>
                <img src="/photos/blog-photos/<%= blog.photo %>" class="card-img-top" style="height: 200px;">
                <% } %>
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text" style="height: 70px; overflow: hidden"><%= blog.description %></p>
                    <p><%= blog.createdAt.toLocaleDateString() %></p>
                    <a href="/view-blog/<%= blog.id %>" class="btn btn-primary w-100">Read</a>
                </div>
            </div>
        </div>

    <% }) %>
</div>
    <div class="mt-2">
        <%- include('./partials/_pagination') %>
    </div>
