<h4 class="mt-3">Blogs</h4>
<div class="text-right">
    <a href="/blog/new" class="btn btn-success">New Blog</a>
</div>

<div class="mt-2">
    <%- include('../partials/_messages') %>
</div>

<% blogs.forEach(blog => { %>
<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title"><%= blog.title %></h4>
        <!-- <div style="background-image:url('/photos/blog-photos/<%= blog.photo %>'); width: 100px; height: 100px" alt="blog-photo"></div> -->
        <% if(typeof blog.photo != 'undefined' ) { %>
        <img src="/photos/blog-photos/<%= blog.photo %>" style="width: 100px; height: 100px">
        <% } %>
        <div class="card-subtitle text-muted my-2">
          <%= blog.createdAt.toLocaleDateString() %>
        </div>
        <div class="card-text mb-2" style="height: 70px; overflow: auto"><%= blog.description %></div>
        <div class="clearfix"></div>
        <div class="mt-2">
            <a href="/blog/<%= blog.id %>" class="btn btn-primary">Read More test</a>
            <a href="/blog/edit/<%= blog.id %>" class="btn btn-info">Edit</a>
            <form class="formForDeleteBlog d-inline" action="/blog/<%= blog._id %>?_method=DELETE" method="POST" >
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
    </div>
</div>
<% }) %>

<div class="pagination-links text-right mt-3">

    <% if( typeof pagination.prev != 'undefined') { %>
    <a href="/bloger/dashboard?page=<%= pagination.prev.prevPage %>">Prev <i class="fas fa-angle-double-left"></i></a>
    <% } else { %>
    <a href="javascript:void(0)" style="cursor: not-allowed; opacity: 0.5; text-decoration: none;">Prev <i class="fas fa-angle-double-left"></i></a>
    <% } %>

    
    <% for(let i = 1; i <= pagination.totalPages; i++) { %>
        <% if( (pagination.currentPage - i) < pagination.numberOfPagesDisplay && (pagination.currentPage + pagination.numberOfPagesDisplay) > i ) { %>
        <a href="/bloger/dashboard?page=<%= i %>" class="<%= ( pagination.currentPage === i ? 'active-pagination' : '' ) %>"><%= i %></a>
        <% } %>
    <% } %>

    <% if( typeof pagination.next != 'undefined') { %>
    <a href="/bloger/dashboard?page=<%= pagination.next.nextPage %>">Next <i class="fas fa-angle-double-right"></i></a>
    <% } else { %>
    <a href="javascript:void(0)" style="cursor: not-allowed; opacity: 0.5; text-decoration: none;">Next <i class="fas fa-angle-double-right"></i></a>
    <% } %>

</div>
