<h1>Dashboard page</h1> 
<p>Welcome <%= user.name %></p>

<a href="/blog/new" class="btn btn-success">New Blog</a>

<% blogs.forEach(blog => { %>
<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title"><%= blog.title %></h4>
        <div class="card-subtitle text-muted mb-2">

        </div>
        <div class="card-text mb-2"><%= blog.description %></div>
        <a href="/blog/<%= blog.slug %>" class="btn btn-primary">Read More test</a>
        <a href="/blog/edit/<%= blog.id %>" class="btn btn-info">Edit</a>
        <form action="/blog/1?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
    </div>
</div>
  <% }) %>

  <script>
      console.log(document.cookie.length)
  </script>
