<h4 class="mt-5">Edit Blog</h4>

<%if (success_message != '') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success_message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>

  <%if (error_message != '') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= error_message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>

<form action="/blog/edit/<%= blog.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input required value="<%= blog.title %>" type="text" name="title" id="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control" rows="25"><%= blog.description %></textarea>
    </div>

    <div>
        <input type="file" name="photo" id="photo" onchange="showUploadedBlogPhoto(this);">
        <img class="display-uploaded-blog-photo mt-3" src="/photos/blog-photos/<%= blog.photo %>" alt="your uploaded bill"  width="150" height="150" type="application/pdf" >
        <span class="text-for-upload-blog-photo-bigger-then-1mb text-danger d-none"><small><i>Please upload file less than 1 MB</i></small></span>
    </div>

    <div class="clearfix"></div>
    <div class="mt-2">
        <a href="/bloger/dashboard" class="btn btn-secondary">Back to Dashboard</a>
        <button type="submit" class="saveBlogButton btn btn-primary">Edit</button>
    </div>

</form>
  